/* pt-sans-regular - latin_cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v17-latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/pt-sans-v17-latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v17-latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v17-latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v17-latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v17-latin_cyrillic-ext-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
  /* playfair-display-regular - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/playfair-display-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/playfair-display-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* playfair-display-700 - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./fonts/playfair-display-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/playfair-display-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* playfair-display-800 - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('./fonts/playfair-display-v29-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/playfair-display-v29-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
      font-family:'Post No Bills Jaffna';
      src:local(''),
      url('../fonts/PostNoBillsJaffna-Regular.ttf');
      font-style:normal;
    font-weight: 400;
  }
  @font-face {
      font-family:'Post No Bills Jaffna';
      src:local(''),
      url('../fonts/PostNoBillsJaffna-Bold.ttf');
      font-style:normal;
    font-weight:700;
  }
  html{
      box-sizing: border-box;
  }
  
  *, *::before, *::after{
    box-sizing: inherit;
  }
  body {
      font-family:'PT Sans';
      font-weight: 400;
    font-size: 14px;
    background-color: black;
    color: white;
    max-width: 1920px;
    margin: 0 auto;
  }
  a{
    text-decoration: none;
    color:white;
  }
 
   

  br{
    padding: 0 ;
    margin: 0;
    size: 0;
  }
 
/* ................header start ..................*/
  header{
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
    color: #969696;
  }
  .wrapper_info{
      width: 1108px;
      height: 44px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
  }

  .wrapper_info ul{
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      list-style-type: none;
      padding: 0px;
  }
  .wrapper_info button{
      background-color:black;
      background:url('../icon/exit_icon.svg')  no-repeat left center;
      
     
  }

  .list_info{
      background: url('../icon/icon_phone.svg') no-repeat left center;
      background-repeat: no-repeat;
      background-size: 13.36px 13.36px;
  }

  .list_info li{
    padding-right: 15px;
    padding-left: 15px;
  }
  .list_info:nth-child(1){
      padding-left: 16.31px;
  }
  .border{
      border-right: 1px solid #969696; 
      border-left: 1px solid #969696; 
      padding-left: 15px;
      padding-right: 15px;
  }

    .entry {
    font-size: 12px;
    color: #969696;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    }

  .logo_nav{
      width: 100%;
      background: #0F0F0F;
  }

  .wrapper_logo_nav{
     max-width: 1108px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     height: 80px;
  }

  
  .logo_header{
    text-decoration: none;
      color: white;
      font-family: 'Post No Bills Jaffna';
    font-size: 36px;
    font-weight:700;
    
  }

  .wrapper_logo{
    display: flex;
    align-items: center;
  }
  .nav{
      display: flex;
      flex-wrap: wrap;
      text-transform:uppercase;
  }

  .nav  a{
      text-decoration: none;
      font-size: 12px;
    color: #969696;
 
  }
  .nav div:hover{
    background: #1F1F1F;
  }
  .nav div{
      padding-right: 20px;
      padding-left: 20px;
      align-items: center;
      display: flex;
  }
  
  .size{
     margin-left: 20px;
  }
  .icon_nav{
      width:22px;
      height: 22px;
      
  }
  /*.............. header end ....................*/

  
  /* .............. section_1 start.............*/

  .section_1{
    background: url('../png/Rectangle\ 3.png') no-repeat center; 
    background-size: cover;
     height: 810px;
     padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

  }
  .container_h1{
    display: flex;
    width: 320px;
    height: 320px;
    margin-top: 160px;
    border: 4px solid #FFFFFF;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container_h1 h1{
    font-family: 'Post No Bills Jaffna';
font-style: normal;
font-weight: 700;
font-size: 64px;
border-bottom: 2px solid #FFFFFF;
width: fit-content;
padding-bottom: 4px;

  }
  .container_h1 p{
    font-size: 22px;
    padding-top: 7px;
  }
  .text{
    font-family:'PT Sans';
      font-weight: 400;
    width: 730px;
    text-align: center;
text-transform: uppercase;
font-size: 16px;
line-height: 150%;
margin-top: 80px;
  }
  /* .............. section_1 end.............*/


  /* .............. section_2 start.............*/
  .sector_2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .collection_2018{
    height: 600px;
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
  }
  .collection_2018 h2{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .collection_2018 p{
    font-size: 14px; 
  line-height: 150%;
  text-align: center;
  padding: 40px 285px 60px;
  }
 
  .new_collection{
    width: fit-content;
    justify-content: end;
    position: relative;
    margin: 0;
    
  }
  
  .ceson20_21{
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1020px;
    
  
  }
  .ceson20_21 h2{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 93px;
    margin-bottom: 50px;
    height: fit-content;
  }
  .container_border{
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100%;
  
  }

  .border_bottom_120px{
    border-bottom: 1px solid white;
    width: 120px;
  }
  
  .figure_ceson20_21{
    margin: 0 auto;
  }
  .figure_ceson20_21 :last-child{
    margin-right: 0px;
  }
  .wrapper_figure{
    width: 260px;
    height: 405px;
    margin-right: 50px;
    
  }
  .wrapper_figure figcaption,
  .gallery figcaption{
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;  
    padding-top: 25px;
  }
  
  .figure_ceson20_21 figure,
  .gallery figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:55px 0px;
  }
  .figure_ceson20_21{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .figure_ceson20_21 figure:hover,
  .gallery figure:hover{
    background: #191B1C;
  }

  .container_new_collection {
    width: fit-content;
    position: absolute;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-246px);
    left: 252px;
    right: 0;
   
  }
  .container_new_collection h2{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .container_new_collection button,
  .collection_2018 button{
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    gap: 10px;
    text-decoration: none;
    background-color: rgba(145, 11, 11, 0);
    width: fit-content;
   
  }
  .button_style:hover{
     background: #191B1C;
  }
  /* .............. section_2 end.............*/



  /* ...............section_3 start........... */
  .section_3{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    
  }
  .section_3 h2{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin:120px auto 40px;
  }
  .gallery{
    min-width: 300px;
    max-width: 1160px;
    display: grid;
    justify-content: center;
    grid-gap:23px 40px;
    grid-template-columns: repeat(auto-fit, 260px);
    grid-template-rows: repeat(auto-fit, 406px) ;
    margin: 80px auto 150px;
  }
  .gallery figure{
    background: #191B1C;
  }
  
  /* ...............section_3 end........... */


  /* ...............section_4 start........... */
  .section_4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #0F0F0F;
  }
  .section_4 h2{
    width: 100%;
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase; 
    margin: 60px auto 40px;
  }
  .icons_brands{
    min-width: 260px;
    max-width: 1110px;
    display: grid;
    grid-template-columns:repeat(auto-fit, 255px);
    grid-template-rows: repeat(auto-fit,95px);
    grid-column-gap: 30px;
    justify-content: center;
    margin:40px auto 80px;
  }
  /* ...............section_4 end........... */

  /* .........footer start.............. */
  .footer_sectoin_1{
    min-height: 400px;
    background: url('../png/footer_bi.png');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mailing_list,
  .product_categories,
  .info_of_shop{
    width:350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mailing_list h2,
  .product_categories h2,
  .info_of_shop h2{
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 80px 0px 40px;
  }
  .product_categories{
    margin-left: 30px;
  }
  .container_categories {
    display: flex;
    flex-wrap: wrap;
  }
  .container_categories p{
    background-color: black;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    margin:0px 20px 20px 0px;
  }

  .mailing_list {
   width: 360px;
  }
  .mailing_list p{
    padding-bottom: 37px;
  }

  .mailing_list form{
    display: flex;
    justify-content: start;
  }
  .your_email{
    background: rgba(255, 255, 255, 0.4);
    width: 209px;
    height: 42px;
    color: white;
    border: none;
    padding-left: 10px;
  }
  input::placeholder{
    color: #969696;
    padding-left: 10px;
  }
 
  .submit{
    height: 100%;
    background-color: black;
    color: white;
    align-items: center;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer_sectoin_2{
    min-height:48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #D0D0D0;
  }
  .submit:hover,
  .container_categories p:hover{
    background: #191B1C;
    cursor: pointer;
  }
  /* .........footer end.............. */